<div class='background-contact'>
  <div class='container-contact'>
    <div class='outer'>
      <div class='outer-corner'></div><div class='outer-content'>Contato</div></div>
    <div class='main'>
      <div class='pd'><p class='st'>Telefone</p><a href='tel:38991698941'>(38) 9 9169-8941</a><p class='st'>Email</p><a href='mailto:dangregory@hotmail.com'>danielgregory@outlook.com.br</a><p class='st'>GitHub</p><a href='https://github.com/dangregory'>dangregory</a></div>
      <div class='map'></div>
      <div class='img'></div>
      <div class='main-outer'></div>
    </div>
  </div>
</div>